<!DOCTYPE html>
<html>
<head>
  <title>拳コレ！(じゃん拳コレクション)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if @user %>
  <div style="text-align:right">
    <%= link_to 'ログアウト', :action => 'logout!' %>
    <%= image_tag "icon#{@user.image_number}.jpg", :size => '80x80' %>
    <%= link_to @user.nickname, :action => 'setup' %>
  <hr/>
</div>
<% end %>

<% if params[:msg] %>
  <p><%= params[:msg] %></p>
<% end %>
<div class="container">
<%= yield %>
</div>

</body>
</html>
